* {
    padding:0;
    margin:0;
}
#comp1 h1 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 15px;
}
html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color: lightgray;
}

body{
    text-align: center;
}

ul{
    list-style:none;
    display: inline-block;
    margin-bottom: 20px;
}

ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color: darkgray;
    color:#fff;
    transition:0.3s;
}

ul li:hover{
    background-color: gray;
}

ul li.focused{
    color:#fff;
    background-color: dimgray;
}

p{
    padding-top:15px;
    font-size:12px;
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 16px;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}